.container{
   text-align: center;
    
}
header{
    border: 3px solid black; 
    background-color: purple;
    height: 70px;
    
}
.heading {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.col-left {
    background-color: rgb(224,102,102);
    height: 500px;
    width:30%;
    border: 3px solid black;
}
.col-mid {
    background-color: lightgreen;
    height: 500px;
    width:30%;
    border: 3px solid black;
}
.col-right {
    background-color: orange;
    height: 500px;
    width:30%;
    border: 3px solid black;
}